$blue: #1c4686;
$orange: #fec200;

$font-size-title: 2.5em;
$font-weight-title: 600;
$font-height-title: 40px;

$font-size-medium: 1.2em;
$font-weight-medium: 600;
$font-height-medium: 60px;

$font-size-bread: 1em;
$font-weight-bread: 400;
$font-height-bread: 24px;
