@use "../../../styles/base";
.animalCard {
  width: 16rem;
  height: 28rem;
  padding: 1rem;
  margin: 2rem;
  -moz-box-shadow: 0px 1px 5px 0px #676767;
  -webkit-box-shadow: 0px 1px 5px 0px #676767;
  box-shadow: 0px 1px 5px 0px #676767;
  text-align: center;
  background-color: white;
  position: relative;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }
  p {
    @extend %font-style-bread;

    margin: 0;
  }
  h1 {
    margin: 0;
  }
  div {
    position: absolute;
    z-index: 2;
    top: 30%;
    .adoptedTag {
      position: relative;

      z-index: 1;
    }
  }
  img {
    width: 100%;
    aspect-ratio: 1;
  }
  button {
    @extend %button;
    width: 100%;
    margin-top: 1rem;
    font-size: 1rem;
  }
}
