@use "../../styles/base";
@use "./overlay.scss";

main {
  grid-area: content;
  @include base.flex-column-center($justify: space-evenly, $direction: row);
  flex-wrap: wrap;
}

.IntroContainer {
  min-height: 100vh;
  @include base.flex-column-center($justify: auto);
  align-items: center;
  padding: 0rem 1rem 0rem 1rem;

  .intro-text {
    padding: 4em 4em 0 4em;
    text-align: center;
    @extend %font-style-medium;
  }
}
