@use '../../styles/base';
@use './overlay.scss';

main {
  grid-area: content;
  @include base.flex-column-center($justify: space-evenly, $direction: row);
  flex-wrap: wrap;
}

<<<<<<< Updated upstream
//ALLT OVERLAY-RELATERAT KAN GÖRAS TILL EN PARTIAL-FIL

.animal-overlay {
  position: absolute;
  background-color: white;
  z-index: 4;
  margin: auto;
  width: 60%;
  height: fit-content;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: 0px 1px 5px 0px #676767;
  @include base.flex-column-center($justify: space-between);
  padding: 2em;
}
// KOM IHÅG ATT FIXA SCROLL-PROBLEMET

.hidden {
  display: none;
}

.overlay-wrapper {
  @include base.flex-column-center($direction: row);
  gap: 3em;
}

=======
>>>>>>> Stashed changes
.IntroContainer {
  min-height: 100vh;
  @include base.flex-column-center();
  padding: 0rem 1rem 0rem 1rem;
  align-items: center;
  .intro-text {
    padding: 4em 4em 0 4em;
    text-align: center;
    @extend %font-style-bread;
  }
}

.fillContainer {
  min-height: 150vh;
}
<<<<<<< Updated upstream

.animal-overlay h1,
.animal-overlay h2 {
  text-align: center;
}

.animal-overlay h1 {
  @extend %font-style-title;
  margin-bottom: 0;
}

.animal-overlay h2 {
  font-size: 18px;
  margin-top: 0.5em;
}

.animal-overlay .overlay-img {
  aspect-ratio: 1;
  width: 18.75rem;
  height: 18.75rem;
}

.vet-logo {
  width: 90px;
}

.close-btn-wrapper {
  align-self: flex-end;
  position: absolute;
}

.close-btn {
  width: 30px;
}

.info-wrapper {
  @include base.flex-column-center();
}

.info-wrapper p {
  @extend %font-style-bread;
  line-height: 24px;
  margin: 0.2em;
}

.link-text {
  @extend %font-style-bread;
  line-height: 24px;
  text-align: center;
}

span {
  @extend %font-style-bread;
  line-height: 24px;
  font-weight: 700;
}

button {
  @extend %button;
  align-self: center;

  &:hover {
    cursor: pointer;
  }

  &:active {
    background-color: #14315d;
    color: grey;
  }
}

.adopted-btn {
  background-color: grey;

  &:hover {
    cursor: auto;
  }

  &:active {
    background-color: grey;
    color: white;
  }
}

.adopted-text {
  color: red;
}

.header-wrapper {
  width: 50%;
  padding: 1rem;
  height: 20%;
  @include base.flex-column-center($justify: space-between, $direction: row);
}

.header-text-container {
  @include base.flex-column-center($justify: space-around);
}

.header-vet-container {
  align-items: flex-end;
}

@media screen and (max-width: 900px) {
  .animal-overlay {
    top: 30em;
  }

  .animal-overlay .overlay-wrapper {
    flex-direction: column;
  }
  .animal-overlay .overlay-img {
    aspect-ratio: 1;
    max-width: 14rem;
    max-height: 14rem;
  }

  button {
    width: 100%;
  }
}
=======
>>>>>>> Stashed changes
