@use "../styles/base.scss";

.adoptionContainer {
  width: 95%;
  height: 100%;
  background-color: #f5f5f5;
  @include base.flex-column-center();
  margin: 1rem;
  text-align: center;

  h1 {
    @extend %font-style-title;
  }

  p {
    padding: 2rem;
    text-align: left;
    @extend %font-style-bread;
  }

  .container {
    max-width: 100%;
    background-color: #f5f5f5;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    form {
      width: 100%;
      padding: 4rem;
      padding-top: 0;
      @include base.flex-column-center(
        $justify: space-between,
        $direction: row
      );
      flex-wrap: wrap;

      .flex-column {
        @include base.flex-column-center();
        margin: 1rem;
        align-items: center;

        label {
          outline: none;
        }

        input {
          outline: none;
          width: 14rem;
          padding: 0.5rem;
          border-radius: 10px;
        }

        .radio-btn {
          width: 1.25rem;
          height: 1.25rem;
        }
        textarea {
          outline: none;
          width: 14rem;
          height: 4rem;
          padding: 0.5rem;
          border-radius: 10px;
          resize: none;
          writing-mode: horizontal-tb !important;
          text-rendering: auto;
          color: fieldtext;
          letter-spacing: normal;
          word-spacing: normal;
          line-height: normal;
          text-transform: none;
          text-indent: 0px;
          text-shadow: none;
          display: inline-block;
          text-align: start;
          appearance: auto;
          -webkit-rtl-ordering: logical;
          cursor: text;
          background-color: field;
          margin: 0em;
          padding: 0.5rem;
          border-width: 2px;
          border-style: inset;
          border-color: -internal-light-dark(
            rgb(118, 118, 118),
            rgb(133, 133, 133)
          );
          border-image: initial;
        }
      }
      .submit-container {
        width: 100%;

        @include base.flex-column-center($justify: flex-end, $direction: row);

        .submit {
          @extend %button;

          &:hover {
            cursor: pointer;
          }

          &:active {
            background-color: #14315d;
            color: grey;
          }
        }
      }
      .radio-buttons-container {
        @include base.flex-column-center();
        width: 14.25rem;
        margin: 1rem;
        padding: 0.5rem;

        p {
          padding: 0;
          margin: 0;
          text-align: center;
        }
        .flex-row {
          @include base.flex-column-center($direction: row);
          margin: 1rem;
          align-items: center;
        }
      }
    }
  }
}

.post-submit-container {
  width: 100%;
  min-height: 80vh;
  @include base.flex-column-center($justify: space-evenly);
  align-items: center;
  line-height: 42px;
  h1 {
    @extend %font-style-title;
    line-height: 2em;
    padding: 3rem;
    text-align: center;
  }
  button {
    @extend %button;
  }
}

@media screen and (max-width: 900px) {
  .adoptionContainer {
    @include base.flex-column-center();
    margin: 0;
    width: 100%;
    border: none;
    p {
      color: black;
      padding: 2rem;
      font-size: 24px;
      line-height: 42px;
      text-align: left;
      margin-top: none;
    }
    h1 {
      line-height: 42px;
      margin-bottom: 0;
    }
  }

  .container form {
    padding: 0rem;
    @include base.flex-column-center($direction: row);
  }

  .adoptionContainer .container form .submit-container {
    @include base.flex-column-center($justify: center, $direction: row);
    margin-bottom: 1rem;
  }
  .post-submit-container {
    button {
      width: 50%;
    }
  }
}
