@use '../../styles/base';

header {
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: #fec200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em 0 1em;
}

header section {
  display: flex;
  align-items: center;
  gap: 1em;
}

header h1 {
  margin: 0 auto;
  @extend %font-style-title;
}

header .search-btn {
  width: 35px;

  font-size: 36px;
}

header section input {
  height: 2em;
  outline: none;
  border-radius: 10px;
  text-align: center;
  box-shadow: inset 0px 1px 5px 0px #676767;
  border: none;
  @extend %font-style-bread;
}

header section a:hover {
  cursor: pointer;
}

header section .search-btn {
  width: 35px;
}

.burgerMenu {
  display: none;
}

@media screen and (max-width: 900px) {
  header {
    height: 5rem;
  }

  header section a .logo {
    display: none;
  }

  header section h1 {
    font-size: 1.5rem;
  }

  header .header__title {
    width: 100%;
  }

  header input {
    width: 7rem;
  }
  .burgerMenu {
    display: flex;
    height: 48px;
    width: 48px;
  }
}
