@use "../../styles/base";
@use "../../styles/variables";

header {
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: variables.$orange;
  padding: 0 1em 0 1em;

  .sidebar__overlay,
  .hamburger {
    display: none;
    width: 0;
    height: 0;
  }

  .header__wrapper {
    @include base.flex-column-center($justify: space-between, $direction: row);
    align-items: center;
    .header__title {
      display: flex;
      align-items: center;
      gap: 1em;

      .main-title {
        text-decoration: none;
        @extend %font-style-title;
        color: #232323;
        margin: 0 auto;
      }
    }
  }
}

.header__search {
  display: flex;
  align-items: center;

  input {
    height: 2em;
    outline: none;
    border-radius: 10px;
    text-align: center;
    box-shadow: inset 0px 1px 5px 0px #676767;
    border: none;
    @extend %font-style-bread;
  }
  a {
    cursor: pointer;

    .search-btn {
      width: 35px;
    }
  }
}

@media screen and (max-width: 900px) {
  header {
    height: 7rem;
    .sidebar__overlay {
      display: none;
      @include base.flex-column-center($justify: flex-start);
      transform: translateY(100px) translateX(-500px);
      background-color: #f5f5f5;
      z-index: 4;
      box-shadow: 0px 1px 5px 0px #676767;
      ul {
        list-style: none;
        padding: 0.5rem;
        @include base.flex-column-center();
        align-items: center;
        .menu-link {
          text-decoration: none;
          color: #232323;
          margin: 0.5rem;
        }
      }
      h1 {
        font-size: 1.4em;
        font-weight: 600;
        line-height: 60px;
      }
    }
    .visible {
      z-index: 6;
      width: 12rem;
      height: fit-content;
      display: flex;
      position: absolute;
      border-radius: 20px;
      align-items: center;
      transform: translateY(110px) translateX(-18px);
      animation: slide-in 0.35s ease-out;
    }
    .header__wrapper {
      @include base.flex-column-center();
      .header__title {
        width: 100%;
        .hamburger {
          display: flex;
          height: 48px;
          width: 48px;
          position: absolute;
          top: 30%;
        }

        a {
          .logo {
            display: none;
          }
        }

        .main-title {
          font-size: 24px;
        }
      }
      .header__search {
        width: 100%;
        display: flex;
        @include base.flex-column-center($justify: flex-end, $direction: row);
        input {
          width: 70%;
        }
      }
    }
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-500px) translateY(110px);
  }

  to {
    transform: translateX(-18px) translateY(110px);
  }
}
