main {
  grid-area: content;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #f5f5f5;
}

.animal-overlay {
  position: absolute;
  background-color: white;
  z-index: 4;
  margin: auto;
  width: 80%;
  height: 80%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: 0px 1px 5px 0px #676767;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;

  // KOM IHÅG ATT FIXA SCROLL-PROBLEMET
}

.fillContainer {
  height: 64vh;
}

.hidden {
  display: none;
}

.overlay-wrapper {
  display: flex;
  justify-content: center;
  gap: 3em;
}

.animal-overlay h1,
.animal-overlay h2 {
  text-align: center;
}

.animal-overlay h1 {
  font-size: 24px;
  margin-bottom: 0;
}

.animal-overlay h2 {
  font-size: 18px;
}

.animal-overlay .overlay-img {
  aspect-ratio: 1;
  width: 18.75rem;
}

.vet-logo {
  width: 90px;
  position: absolute;
}

.animal-overlay h2 {
  margin-top: 0;
}

.close-btn-wrapper {
  align-self: flex-end;
  position: absolute;
}

.close-btn {
  width: 30px;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-wrapper p {
  margin: 0.2em;
}

.link-text {
  text-align: center;
}

span {
  font-weight: 700;
}

button {
  appearance: none;
  background-color: #1c4686;
  color: white;
  width: 50%;
  align-self: center;
  border: none;
  padding: 1.5em 2em;
  font-size: 20px;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }

  &:active {
    background-color: #14315d;
    color: grey;
  }
}
