@use "../../styles/base";

footer {
  grid-area: footer;
  z-index: 1;
  background-color: #473f3f;
  color: white;
  @include base.flex-column-center($justify: space-evenly, $direction: row);
  padding: 2em;
  gap: 4em;

  .footer__nav {
    @include base.flex-column-center();

    a {
      text-decoration: none;
      color: white;
    }
  }
  p,
  a {
    @extend %font-style-bread;
    margin: 1em;
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  footer {
    display: flex;
    align-content: space-evenly;

    .footer__social {
      @include base.flex-column-center();

      .socialWrapper {
        @include base.flex-column-center($direction: row);
        width: 100%;
      }

      .logoWrapper {
        @include base.flex-column-center($direction: row);
        flex-wrap: wrap;
      }
    }
    .footer__adress {
      display: none;
    }
  }
}
