@use '../../styles/base';

footer {
  grid-area: footer;
  z-index: 1;
  background-color: #473f3f;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 2em;
  gap: 4em;
}

footer .footer__nav {
  display: flex;
  flex-direction: column;
}

footer .footer__nav a {
  text-decoration: none;
  color: white;
}

footer p,
footer a {
  @extend %font-style-bread;
  margin: 1em;
  text-align: center;
}

@media screen and (max-width: 900px) {
  footer {
    display: flex;
    align-content: space-evenly;
  }
  footer .footer__social {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  footer .socialWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  footer .logoWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  footer .footer__adress {
    display: none;
  }
}
